.main-page{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
.menu{
    background-color: bisque;
    
    height: 100vh;
}
.task{
    background-color: red;
    height: 100vh;
}
}